NEXT_PUBLIC_STORE_NAME="EXCLUSIVE CLOTHING"
NEXT_PUBLIC_WHATSAPP_NUMBER="573226821174"
GOOGLE_SHEET_ID=""
GOOGLE_SHEET_GID="0"

# Solo para despliegue manual: https://app.netlify.com/user/applications
NETLIFY_AUTH_TOKEN=""
